<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Philips.3rdParty.GoogleTest.v143" version="1.12.1" targetFramework="native" />
  <package id="Philips.CoronaryTools.Thirdparty" version="0.0.35" targetFramework="native" />
  <package id="Philips.Cwis" version="1.1.1.10148" targetFramework="native" />
  <package id="Philips.CwisServer" version="1.1.0.10148" targetFramework="native" />
  <package id="Philips.Dvlp" version="1.0.0.100109-master" targetFramework="native" />
  <package id="Philips.iControl" version="33.0.0" targetFramework="native" />
  <package id="Philips.IpSimplicity" version="1.2.2" targetFramework="native" />
  <package id="Philips.IpXres3" version="1.2.2" targetFramework="native" />
  <package id="Philips.IW.SDK.Common" version="2.2.15" targetFramework="native" />
  <package id="Philips.MathLib" version="4.2.0.25" targetFramework="native" />
  <package id="Philips.MeshLib" version="1.1.0.108" targetFramework="native" />
  <package id="Philips.Net" version="1.3.5.101019" targetFramework="native" />
  <package id="Philips.P-Rex" version="4.3.0.1108" targetFramework="native" />
  <package id="Philips.SDK.Viewing" version="2.2.0.6698" targetFramework="native" />
  <package id="Philips.Sense" version="1.13.1.104054" targetFramework="native" />
  <package id="Philips.Sense.ExperienceIdentity" version="1.13.1.104054" targetFramework="native" />
  <package id="Philips.Sscf" version="1.4.2" targetFramework="native" />
  <package id="Philips.TraceWriter" version="1.3.0" targetFramework="native" />
  <package id="Philips.Trace" version="1.3.0" targetFramework="native" />  
</packages>